# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directories
node_modules/
jspm_packages/
npm-debug.log
/.idea/vcs.xml
/.idea/top-forum-backend.iml
/.idea/modules.xml
/.idea/.gitignore
